* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

div>p {
    font-size: 16px;
    font-weight: bold;
    color: #222;
    margin: 5px 0;
}

:root {
    --menu-chart-width: 220px;
    --menu-chart-height: calc(100vh - var(--nav-height));
    --nav-width: 100vw;
    --nav-height: 100px;
    --tooltip-width: 240px;
    --tooltip-height: 280px;
}

.nav {
    width: var(--nav-width);
    height: var(--nav-height);
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cee7e3;
    position: absolute;
    z-index: 30;
}

.nav-item {
    width: calc(var(--nav-width) / 5);
    height: calc(var(--nav-height) * 0.8);
    margin: calc(var(--nav-height) * 0.1);
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #e47979; */
}

.menu {
    float: left;
    display: -webkit-flex;
    display: flex;
    /* transform: translate(0, calc(-1 * var(--nav-height))); */
    width: var(--menu-chart-width);
    height: 100vh;
    background-color: #d5f4ed;
    box-shadow: 10px 10px 8px #bebebe,
        -10px -10px 8px #ffffff;
    position: absolute;
    z-index: 19;
}

.menu-item {
    width: calc(var(--menu-chart-width) * 0.9);
    height: calc(var(--menu-chart-height) * .9);
    margin: calc(var(--menu-chart-width) * 0.05);
    transform: translate(0, calc(1.1 * var(--nav-height)));
}

.vis-chart {
    width: calc(100vw - var(--menu-chart-width));
    height: var(--menu-chart-height);
    display: -webkit-flex;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    transform: translate(var(--menu-chart-width), calc(1 * var(--nav-height)));
}

.drawLine {
    /* display: none; */
    display: -webkit-flex;
    display: flex;
    transform: translate(var(--menu-chart-width), calc(1 * var(--nav-height)));
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/*  tooltip 样式*/
.tooltip {
    position: absolute;
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    font-size: 1px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffd9;
    box-shadow: 0px 9px 20px #00000057;
    backdrop-filter: blur(300px);
    z-index: 10;
}

.radar-tooltip {
    margin: 0 auto;
    margin-top: 10px;
    width: var(--tooltip-width);
    /* background-color: rgb(176, 41, 41); */
    z-index: 20;
}

.grid-line {
    fill: none;
    stroke: rgb(0, 0, 0);
}

.metric-label {
    fill: rgb(6, 6, 6);
    text-anchor: middle;
    font-size: 8px;
    font-weight: bold;
}

.line {
    fill: none;
    stroke: cornflowerblue;
    stroke-width: 2;
    fill: cornflowerblue;
    fill-opacity: 0.1;
    transition: all 0.3s ease-out;
}

.type-card {
    width: 20px;
    border-radius: 5px;
}

.btn {
    width: 200px;
    height: 60px;
    text-align: center;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #5ab1a1;
}

.btn:hover {
    background-color: #c2e2dc;
}

.cbtn:active {
    background-color: #3b7b70;
    color: #fff;
}

.btn:disabled {
    background-color: #c2e2dc;
}